.container {
    max-width: 36rem;
    padding: 0 1rem;
    margin: 3rem auto 6rem;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
      Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
      sans-serif;
    /* background-color: pink; */
  }

  .header {
      display: flex;
      flex-direction: column;
      align-items: center;
  }

  .backToHome {
      margin: 3rem 0 0;
  }